/* Color Theme Swatches in Hex */
.Happy-colors-1-hex {
  color: #b21812;
}
.Happy-colors-2-hex {
  color: #f4ff19;
}
.Happy-colors-3-hex {
  color: #ff0a00;
}
.Happy-colors-4-hex {
  color: #1478cc;
}
.Happy-colors-5-hex {
  color: #0965b2;
}

/* Color Theme Swatches in Hex */
.Identidade-Visual-1-hex {
  color: #2128a6;
}
.Identidade-Visual-2-hex {
  color: #6f73bf;
}
.Identidade-Visual-3-hex {
  color: #dce0f2;
}
.Identidade-Visual-4-hex {
  color: #30d9c8;
}
.Identidade-Visual-5-hex {
  color: #77d9cf;
}

/* Color Theme Swatches in Hex */
.Diseño-gráfico-1-hex {
  color: #04adbf;
}
.Diseño-gráfico-2-hex {
  color: #03a65a;
}
.Diseño-gráfico-3-hex {
  color: #bf1304;
}
.Diseño-gráfico-4-hex {
  color: #f2f2f2;
}
.Diseño-gráfico-5-hex {
  color: #0d0d0d;
}
